## Importing the Libraries

In [0]:
import pandas as pd
import datetime as dt

## Importing the Dataset

In [0]:
dataset_water_level=pd.read_csv("final_Reservior.csv")

## Pre-processing the Dataset

In [3]:
dataset_water_level['Date']=pd.to_datetime(dataset_water_level['Date'], infer_datetime_format=True)
dataset_water_level['Date']=dataset_water_level['Date'].map(dt.datetime.toordinal)
indexDataset = dataset_water_level.set_index(['Date'])

indexDataset.head()

        Total
Date
731581  271.9
731582  271.9
731583  270.9
731584  270.9
731585  270.8

## Selecting features and the labels

In [0]:
X = dataset_water_level['Date'] 
y = dataset_water_level['Total']

## Spliting the Dataset

In [0]:
from sklearn.model_selection import train_test_split  
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20)

In [0]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
classifier = LinearRegression()

## Training the Model

In [7]:
classifier.fit(X_train.values.reshape(-1, 1), y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

## Predicting the Values

In [19]:
y_pred = classifier.predict(X_test.values.reshape(-1, 1))

[4690.56813259 3158.79600164 3038.95677826 ... 4716.70590559 5577.27975249
 2970.40676982]
1865     8903.0
4971       91.0
5214     4240.0
3573     1992.0
4766     1391.0
         ...
2970     8527.0
2699     6227.0
1812    10242.0
67        143.1
5353     1222.0
Name: Total, Length: 1148, dtype: float64

## Calculating the Accuracy

In [0]:
import numpy as np
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
test_set_rmse = (np.sqrt(mean_squared_error(y_test, y_pred)))/100
accuracy=100-test_set_rmse
test_set_r2 = r2_score(y_test, y_pred)

In [26]:
print(accuracy)

71.08667860970593

In [0]:
fit = classifier.fit(X.values.reshape(-1, 1),y)

In [28]:
fit.score(X.values.reshape(-1, 1),y)

0.07474721565671028