## Importing the Libraries

In [0]:
import pandas as pd
import datetime as dt

## Importing the Dataset

In [0]:
dataset_water_level=pd.read_csv("final_rainfall.csv")

## Pre-processing the Dataset

In [5]:
dataset_water_level['Date']=pd.to_datetime(dataset_water_level['Date'], infer_datetime_format=True)
dataset_water_level['Date']=dataset_water_level['Date'].map(dt.datetime.toordinal)
indexDataset = dataset_water_level.set_index(['Date'])

indexDataset.head()

        Total
Date
731581    0.0
731612    0.0
731641    0.0
731672    0.0
731702    0.0

## Selecting features and the labels

In [0]:
X = dataset_water_level['Date'] 
y = dataset_water_level['Total']

## Spliting the Dataset

In [0]:
from sklearn.model_selection import train_test_split  
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20)

In [0]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
classifier = LinearRegression()

## Training the Model

In [9]:
classifier.fit(X_train.values.reshape(-1, 1), y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

## Predicting the Values

In [0]:
y_pred = classifier.predict(X_test.values.reshape(-1, 1))

## Calculating the Accuracy

In [0]:
import numpy as np
from sklearn.metrics import mean_squared_error,accuracy_score
from sklearn.metrics import r2_score
error = (np.sqrt(mean_squared_error(y_test, y_pred)))
accuracy=100-test_set_rmse 
test_set_r2 = r2_score(y_test, y_pred)

In [34]:
print(test_set_rmse)

64.00481714520643

In [0]:
fit = classifier.fit(X.values.reshape(-1, 1),y)

In [14]:
fit.score(X.values.reshape(-1, 1),y)

0.0008096042510168378